@import "../../App.scss";

.card {
  background-color: $color-mid-grey;
  display: flex;
  margin-top: 20px;
  position: relative;
  // overflow: auto;

  .background {
    width: 20%;
    flex-basis: 20%;
    object-fit: cover;
    position: relative;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 10%, $color-mid-grey 80%);
  }

  .content {
    color: $color-white;
    padding: 20px;
    flex-basis: 60%;

    .names {
      margin: 0;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;
    }

    .descriptions {
      display: -webkit-box;
      overflow: hidden;
      max-height: 10.5rem;
      margin: 1rem 0;
      -webkit-box-orient: vertical;
      font-size: 1rem;
      font-weight: 300;
      -webkit-line-clamp: 6;
      text-overflow: ellipsis;
    }
  }
  .votingContainer {
    display: flex;
    align-items: center;
    flex-basis: 20%;
    padding: 20px;
    flex-direction: column;
    padding-bottom: 45px;
  }

  .voteButton {
    position: relative;
    border: 1px solid $color-white;
    background: $color-dark-gray;
    color: $color-white;
    font-size: 15px;
    padding: 10px 12px;
    height: 50px;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
  }
}
.thumbsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  .upVotes {
    display: inline-block;
    background-color: $color-green-positive;
    opacity: 0.7;
    height: 30px;
    overflow: hidden;
    vertical-align: bottom;
    img {
      vertical-align: middle;
      padding-left: 5px;
    }
  }
  .downVotes {
    display: inline-block;
    background-color: $color-yellow-negative;
    opacity: 0.8;
    height: 30px;
    overflow: hidden;
    vertical-align: bottom;
    img {
      vertical-align: middle;
      padding-left: 5px;
    }
  }
}
.iconButton {
  padding: 0;
  border: 0;
  background-color: transparent;
  height: 50px;
  width: 50px;

  &.thumbsUp:hover {
    background-color: rgba($color-green-positive, 1);
  }

  &.thumbsDown:hover {
    background-color: rgba($color-yellow-negative, 1);
  }
  &.thumbsUp {
    background-color: rgba($color-green-positive, 0.8);

    &.isSelected {
      background-color: rgb(70, 235, 226);
    }
  }
  &.thumbsDown {
    background-color: rgba($color-yellow-negative, 0.8);
    &.isSelected {
      background-color: rgb(255, 190, 66);
    }
  }
}

.dateCategory {
  color: $color-white;
  display: -webkit-box;
  overflow: hidden;
  max-height: 10.5rem;
  -webkit-box-orient: vertical;
  font-size: 0.7rem;
  font-weight: 500;
  -webkit-line-clamp: 6;
  text-overflow: ellipsis;
  margin: 0;
  align-self: flex-end;
}

h3 {
  display: inline-block;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 300;
  line-height: 1;
  color: $color-white;
  margin: 0;
  vertical-align: middle;
}

.gridCard {
  width: 30%;
  height: 350px;
  position: relative;
  display: inline-block;
  margin-left: 5%;
  margin-bottom: 30px;
  background-color: $color-dark-gray;

  &:nth-child(3n-1) {
    margin: 0;
  }

  .background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(10deg, rgba(0, 0, 0, 0) 5%, $color-mid-grey 90%);
  }
  .content {
    position: absolute;
    top: 0;
    color: $color-white;
    padding: 1rem;
    margin-left: 10px;
    .names {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1;
    }

    .descriptions {
      margin: 1rem 0;
      font-size: 1.1rem;
      font-weight: 350;
    }
  }
  .votingContainer {
    position: absolute;
    bottom: 40px;
    right: 30px;

    .dateCategory {
      color: $color-white;
      overflow: hidden;
      font-size: 0.8rem;
      font-weight: 500;
      margin: 0;
      margin-bottom: 7px;
      align-self: flex-end;
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      .voteButton {
        position: relative;
        border: 1px solid $color-white;
        background: $color-dark-gray;
        color: $color-white;
        font-size: 15px;
        padding: 10px 12px;
        height: 40px;
      }
      .iconButton {
        padding: 0;
        border: 0;
        background-color: transparent;
        height: 40px;
        width: 40px;

        &.thumbsUp:hover {
          background-color: rgba($color-green-positive, 1);
        }

        &.thumbsDown:hover {
          background-color: rgba($color-yellow-negative, 1);
        }
        &.thumbsUp {
          background-color: rgba($color-green-positive, 0.8);

          &.isSelected {
            background-color: rgb(70, 235, 226);
          }
        }
        &.thumbsDown {
          background-color: rgba($color-yellow-negative, 0.8);
          &.isSelected {
            background-color: rgb(255, 190, 66);
          }
        }
      }
    }
  }
}

